{% extends 'base.html.twig.html' %}

{% block title %}Réinitialiser mot de passe - La Boutique Française{% endblock %}

{% block content %}
<div class="block-small">
    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {{ form(form) }}
</div>
{% endblock %}
