{% extends 'base.html.twig.html' %}

{% block title %}Page introuvable - La Boutique Française{% endblock %}

{% block content %}
<div class="block-small">
    <h2>Page introuvable</h2>
    <p>Désolé, cette page ne semble pas accessible pour le moment.</p>
    <a href="{{ path('app_home') }}" class="btn btn-info">Revenir à l'acceuil</a>
</div>
{% endblock %}
